.game {
    text-align: center;
    line-height: 150%;
    width: 70%;
    height: 50%;
}

#victoryScreen {
    text-align: center;
    background-color: green;
    height: 200px;
    width: 200px;

}